.wrapper {
    .info-schedule {
        table {
            margin-bottom: 70px;
            th, td {
                font-weight: bold;

                p {
                    font-weight: lighter;
                    margin: 0px;
                }
            }
        }
    }
}